#container {
  max-width: 1200px;
  margin: 0 auto;
  //   background-color: blue;
  title {
    text-align: center;
    .line {
      width: 200px;
      height: 5px;
      background-color: #ffb606;
    }
    input {
      margin-left: 30px;
    }
  }
  .cardBox {
    #container {
      //   background-color: red;
      display: flex;
      justify-content: space-around;
      align-items: center;
      // flex-wrap: wrap;
      gap: 20px;
      max-width: 450px;
      .card {
        .topOfCard {
          img {
            max-width: 350px;
          }
        }
        .bottomOfCard {
          background-color: #eaebec;
          padding: 10px 0 10px 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          p {
            margin: 0;
          }
          .nameBox {
            display: flex;
          }
            .btn-bg {
              background-color: #ffb606;
              padding: 20px;
            }
        //   button {
        //     background-color: #ffb606;
        //     border: none;
        //     padding: 10px;
        //   }
        }
      }
    }
  }
}
