#container {
  max-width: 1200px;
  margin: 0 auto;
  //   background-color: blue;
  .title {
    text-align: center;
    margin: 20px;
    gap: 10px;
    .line {
      text-align: center;
      margin-left: 50%;
      margin-bottom: 3%;
      width: 100px;
      height: 5px;
      background-color: #ffb606;
    }
    .searchBox{
      gap: 10px;
      input {
        margin-left: 30px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid grey;
      }
    }
  }
  .cardBox {
    margin: 7%;
    #container {
      //   background-color: red;
      display: flex;
      justify-content: space-around;
      align-items: center;
      // flex-wrap: wrap;
      gap: 20px;
      max-width: 450px;
      .card {
        .topOfCard {
          img {
            max-width: 350px;
          }
        }
        .bottomOfCard {
          background-color: #eaebec;
          padding: 10px 0 10px 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          p {
            margin: 0;
          }
          .nameBox {
            display: flex;
          }
          .btn-bg {
            background-color: #ffb606;
            padding: 20px;
          }
          a{
            text-decoration: none;
              color: black;
            }
          }
        }
      }
    }
    button{
      background-color: rgb(107, 146, 168);
      border: none;
      padding: 10px;
      border-radius: 5px;
      margin: 5% 45%;
    }
  }
  @media only screen and (max-width: 900px){
    #container{
      .cardBox{
        #container{
          flex-wrap: wrap;
        }
      }
    }
  }